/* p::first-line {
  color: red;
}
p::first-letter {
  color: blue;
} */

li::marker {
  color: teal;
  font-size: 60px;
}
input::placeholder {
  font-size: 18px;
  color: black;
}
.def::before {
  content: "앞에다가추가한컨텐츠";
  color: red;
  font-weight: 500;
}
.def::after {
  content: "뒤에다가추가한컨텐츠";
  color: yellowgreen;
  font-weight: 200;
}
